:root {
	--black: #000;
	--white: #fff;
    --light-gray: #bbb;
    --red: #d00
}
body { margin: 0px }
a { text-decoration: none;
    display: block;
    clear: both
}
.nav-link { margin: 5px;
    color: var(--black);
    text-decoration: none
}
.nav-link:hover { color: var(--white) }
.nav-link, #dados { margin: 10px }
#dados { margin: 3%;
    padding: 5%;
    background-color: var(--light-gray)
}
.form-control, label, #area-senha { margin: 1.5% 5%;
    width: 90%
}
#buttons, #lados { grid-template-columns: auto auto }
#buttons, #lados { display: grid;
    grid-gap: 20px
}
#buttons { justify-content: center }