#area-chat,
#interacao {
    min-width: 93vw;
}

#area-chat {
    background-color: var(--light-gray);
    min-height: 75dvh;
    overflow: auto;
    max-height: 77dvh;
}

#interacao {
    text-align: center;
}

#mensagem,
#envio {
    position: relative;
    background-color: black;
    color: white;
}

#conectar {
    position: relative;
    top: 0px;
}

#mensagem {
    width: 90%
}

#envio {
    top: -43px;
    float: right;
    padding: 1px
}