footer {
    background-color: var(--primary-dark);
    color: var(--text-light);
    padding: 20px 0;
    text-align: center;
    font-size: 0.9rem;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}
.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px
}
.icon {
    max-width: 50px;
    object-fit: contain;
    aspect-ratio: 1/2;
}
.icon:hover {
    transform: scale(1.3);
}
