.home {
    padding: 35px 2%;
    color: var(--text-light);
}

.home section {
    text-align: center;
    margin-bottom: 20px;
}

.conversar {
    padding: 10px 20px;
    font-size: 24px;
    color: var(--primary-dark);
    background-color: var(--accent);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.conversar:hover {
    background-color: var(--link-hover);
    color: var(--primary-dark);
    transform: scale(1.2);
}

#avisos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
    background-color: var(--primary-light);
}

.avisos-item {
    width: 32%;
    padding: 15px;
    border-radius: 8px;
    background-color: var(--primary-dark);
    color: var(--text-light);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.avisos-item:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.avisos-item-img {
    max-width: 100px;
    margin-bottom: 10px;
}
@media (max-width:800px) {
    .avisos-item {
        width: 80%;
    }
}