.navbar {
    background-color: var(--primary-dark);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#brand-img {
    width: 40px;
    margin-right: 10px;
    border-radius: 5px;
}

.nav-link, .nav-link-active {
    color: var(--text-light);
    padding: 8px 12px;
    font-weight: bold;
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 5px;
}

.nav-link:hover, .nav-link-active {
    color: var(--primary-dark);
    background-color: var(--link-hover);
}
