<!DOCTYPE html>
<html lang=pt-br>
    <head>
        <meta charset=UTF-8>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{{url_for('static', filename='img/chatzin-icon.png')}}" />
        
        <title>Chatzin - {% block title %}{% endblock %}</title>

        <!-- Bootstrap CSS -->
        <link href="//cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        {% block links %}{% endblock %}
    </head>
    <body>
        <nav class="navbar chat">
            <div class="navbar">
                <a href="/" class="nav-brand item">
                    <img id="brand-img" src="{{url_for('static', filename='img/chatzin-icon.png')}}" author=//www.freepik.com>Chatzin
                </a>
                <a class="nav-link" href="/">Início</a>
                <a class=nav-link href="/chat">Chat</a>
                <a class=nav-link href="/about">Sobre</a>
            </div>
        </nav>
        {% block main %}{% endblock %}
        <footer id="contato">
            <h3>Contato</h3>
            <div class="icons">
                <a href="https://www.linkedin.com/in/lux-lima">
                <img class="icon linke" src="{{url_for('static', filename='img/icon/linkedin-icon.png')}}"></a>
                <a href="https://instagram.com/le_luiz_?igshid=MzRlODBiNWFlZA==>">
                <img class="icon insta" src="{{url_for('static', filename='img/icon/instagram-icon.png')}}"></a>
                <a href="https://github.com/Louiexz">
                <img class="icon github" src="{{url_for('static', filename='img/icon/github-mark.png')}}"></a>
            </div>
        </footer>
    </body>
    <!-- jQuery Slim, Popper.js, Bootstrap JS -->
    <script src="//code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    {% block scripts %}{% endblock %}
</html>
