#avisos {
    display: flex;
    margin-top: 6%;
    gap: 10px;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    height: 100%
}
.avisos-item-img { width: 110px; }
.avisos-item { max-width: 250px;
    flex: 1;
}