#area-chat, #interacao {
    min-width: 93vw;
}
#area-chat {
    background-color: var(--light-gray);
    min-height: 75vh;
    overflow: auto;
}
#interacao {
    text-align: center;
}
#mensagem, #envio {
    position: relative;
    background-color: black;
    color: white;
}
#mensagem{
    width: 90%
}
#envio {
    top: -43px;
    float: right;
    padding: 1px
}