* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --black: #080808;
	--light-black: #333;
	--white: #fff;
    --gray: #777;
    --light-gray: #999
}
a { text-decoration: none;
    display: block;
    clear: both
}
.nav-link, .nav-link-active, .conversar, .conversar:hover, .nav-brand {
    margin: 5px;
    font-size: 20px;
    color: var(--black);
}
main {
    background-color: var(--light-black);
    font-size: 110%;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}