.home {
    padding: 35px 2%;
    color: var(--white);
}
.home section {
    text-align: center;
}
.conversar {
    padding: 10px;
    font-size: 24px;
}
.conversar:hover {
    background-color: var(--light-gray);
}